<% provide :title, 'マネミ議事録' %>
<%= stylesheet_link_tag 'glee_manages/application', media: 'all' %>
<%= javascript_include_tag 'webpack/glee_manages/application' %>

<div id='fileListMain' style='display: none;'>
  <%= @file_list_main.to_json %>
</div>

<div id='fileListSub' style='display: none;'>
  <%= @file_list_sub.to_json %>
</div>

<div id="content-json" style="display: none;">
  <%= @content %>
</div>

<div id="root"></div>
